@import "../../assets/sass/abstract/constants";
@import "../../assets/sass/abstract/mixins";
@import "../../assets/sass/layout/wrapper";
@import "../../assets/sass/layout/card";
@import "../../assets/sass/components/header";
@import "../../assets/sass/components/navigation";
@import "../../assets/sass/components/not-only";
@import "../../assets/sass/components/about";
@import "../../assets/sass/components/pets";
@import "../../assets/sass/components/help";
@import "../../assets/sass/components/donation";
@import "../../assets/sass/components/footer";
@import "../../assets/sass/base/logo";
@import "../../assets/sass/base/buttons";
@import "../../assets/sass/base/burger";


$minWidth: 320;
$maxWidth: 1280;
$maxWidthContainer: 1200;

 
.sticky {
    height: 120px;
    position: sticky;
    top: 0;
    background: #fff;
}
.header {
    padding: 30px 0;
}

.logo__title {
    color: $color-dark-l;
}
.logo__subtitle {
    color: $color-dark-3xl;
}

.menu__link {
    text-decoration: none;
    color: $color-dark-l;
    
    &:hover {
        color: $color-dark-3xl;
    }

    &.active {
        text-decoration: none;
        color: $color-dark-l;

        &:after {
            content: '';
            display: block;
            height: 3px;
            background: #F1CDB3;;
          }
    }
}
.pets-our-pets {
    background: #F6F6F6;
}
.pets__heading {
    width: 400px;
    height: 90px;
    @include geo-nor-400();
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto;
    padding: 80px 0 45px 0;
    @include media-laptop {
        padding: 80px 0 30px 0;
    }
    @include media-tablet {
        width: auto;
        height: auto;
        font-size: 25px;
        padding: 42px 0 42px 0;
    }
}
.pets-our-pets__cards-wrapper {
    padding: 15px 0 15px 0;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 40px;
    @include media-laptop {
        width: 580px;
        margin: auto;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .card:nth-child(n+7) {
            display: none;
        }
    }
    @include media-tablet {
        width: 270px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        row-gap: 30px;
    }
}
.card {
    &:nth-child(n+1) {
        @include media-tablet {
            display: flex;
        }
    }
    &:nth-child(n+4) {
        @include media-tablet {
            display: none;
        }
    }
}

.pets__navigation {
    width: 340px;
    height: 52px;
    margin: 0 auto;
    padding: 45px 0 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-laptop {
        padding: 40px 0 76px 0;
    }
    @include media-tablet {
        width: 300px;
        padding: 42px 0;
    }
}
.pets-btn {
    width: 52px;
    height: 52px;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;

    &:not(.disabled):hover {
        background: #FDDCC4;
        border: transparent;
    }
}
.first {
    background: #F1CDB3;
    border: transparent;
}
.next {
    border: 2px solid #F1CDB3;
}
.nextnext {
    border: 2px solid #F1CDB3;
}

