.about {
}

.about__content {
    display: flex;
    padding: 80px 0 100px;
    align-items: center;
    @include media-laptop {
        flex-direction: column-reverse;
    }
    @include media-tablet {
        font-size: 25px;
        padding: 42px 0 42px;
    }
}

.about__image {
    padding: 0 120px 0 175px;
    @include media-laptop {
        padding: 80px 0 0 0;
    }
    @include media-tablet {
        padding: 42px 0 0 0;
    }
}
.content {
    display: flex;
    flex-direction: column;
    padding: 0 175px 0 0;
    @include media-laptop {
        width: 430px;
        //height: 380px;
        padding: 0;
    }
    @include media-tablet {
        width: auto;
        padding: 0 15px;
    }
}
.content__heading {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    @include media-tablet {
        font-size: 25px;
        text-align: center;
    }
}
.content__subheading-first {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    padding: 25px 0;
    @include media-tablet {
        padding: 25px 0 22px;
        text-align: justify;
    }
}
.content__subheading-two {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    align-items: center;
    color: #4C4C4C;
    @include media-tablet {
        text-align: justify;
    }
}