.modal-window-shadow {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    cursor: pointer;
}
.modal-window-wrapper {
    position: absolute;
    top: calc(50vh - 580px/2);
    left: calc(50vw - 900px/2);
    width: 952px;
    height: 552px;
    @include media-laptop {
        top: calc(50vh - 440px/2);
        left: calc(50vw - 630px/2);
        width: 682px;
        height: 402px;
    }
    @include media-tablet {
        width: 271px;
        height: 393px;
        top: calc(50vh - 420px/2);
        left: calc(50vw - 235px/2);
    }
}
.modal-close {
    position: absolute;
    top: 3px;
    right: 10px;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 17px;
    @include media-tablet {
        top: 0px;
        right: 2px;
    }
}
._visible {
    display: block;
}
.modal-window {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 900px;
    height: 500px;
    background: $color-light-s;
    border-radius: 9px;
    display: flex;
    @include media-laptop {
        width: 630px;
        height: 350px;
    }
    @include media-tablet {
        width: 240px;
        height: 340px;
    }
}

.modal-window-image {
    width: 500px;
    height: 500px;
    border-radius: 9px;
    img {
        width: 500px;
        height: 500px;
        border-radius: 9px;
        @include media-laptop {
            width: 350px;
            height: 350px;
        }
    }
    @include media-laptop {
        width: 350px;
        height: 350px;
    }
    @include media-tablet {
        display: none;
    }
}
.modal-window-content {
    width: 351px;
    height: 362px;
    margin: 50px 0 0 30px;
    @include media-laptop {
        width: 260px;
        height: 303px;
        margin: 10px 0 0 10px;
    }
    @include media-tablet {
        padding: 10px;
        margin: 0;
    }
}
.modal-window-content__title {
    @include geo-nor-400();
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 0 10px 0;
    top: 3px;
    right: 10px;
    @include media-tablet {
       text-align: center;
    }
}
.modal-window-content__subtitle {
    @include geo-nor-400();
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 0 40px 0;
    @include media-laptop {
        margin: 0 0 20px 0;
    }
    @include media-tablet {
        text-align: center;
     }
}
.modal-window-content__text{
    @include geo-nor-400();
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 0 0 40px 0;
    @include media-laptop {
        font-size: 13px;
        margin: 0 0 20px 0;
    }
    @include media-tablet {
        text-align: justify;
     }
}    
.modal-window-content__list {
    width: 158px;
    height: 102px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
}
.modal-window-content__list-item {
    @include geo-nor-400();
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
}
ul li::before {
    content: "\2022";
    color: $color-primary;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

