.logo {
    width: 186px;
    height: 60px;
}
.logo._active {
    
}
.logo__link {
    text-decoration: none;
}
.logo__title {
    @include geo-nor-400();
    font-size: 32px;
    letter-spacing: 0.06em;
    line-height: 90%;
    color: $color-primary;
    margin: 0;
}
.logo__subtitle {
    @include arial-nor-400();
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    line-height: 15px;
    margin-bottom: 0;
}